.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

textarea, input[type="text"], input[type="password"] {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.source-code {
  font-size: 13px;
  line-height: 15px;
}

.bg-blue {
  background-color: #1E90FF;
}

.bg-red {
  background-color: #FA8072;
}

/* ==================== Chess Board ==================== */
#chess-board {
  background-image: url(/images/test.png);
  background-size: 210px 714px ;
}

#chess-board td{
  height: 42px;
  width: 42px;
background-repeat: no-repeat;
}

#float-chess {
  height: 42px;
  width: 42px;
background-repeat: no-repeat;
  position: absolute;
}
.success {
 background-color:#DEF0D8;
}

.danger {
background-color: #F2DEDF;
}

.warning {
background-color: #FDF8E3;
}

.img-blue-chess {
  background-image: url(/images/blueChess.png);
  background-size: 496.44px 26.88px;
  /*-webkit-transform:rotate(90deg);*/
  /*-moz-transform:rotate(90deg);*/
  /*-ms-transform:rotate(90deg);*/
  /*-o-transform:rotate(90deg);*/
  /*transform:rotate(90deg);*/
}

.img-red-chess {
  background-image: url(/images/redChess.png);
  background-size: 496.44px 26.88px;
  /*-webkit-transform:rotate(-90deg);*/
  /*-moz-transform:rotate(-90deg);*/
  /*-ms-transform:rotate(-90deg);*/
  /*-o-transform:rotate(-90deg);*/
  /*transform:rotate(-90deg);*/
}

.hidden {
  display: none;
}
.img-0 { background-position : 100px 100px;}

.img-1 { background-position:    3.78px 7.56px; }

.img-2 { background-position:    -38.22px 7.56px; }

.img-3 { background-position:    -80.22px 7.56px; }

.img-4 { background-position:    -122.22px 7.56px; }

.img-5 { background-position:    -164.22px 7.56px; }

.img-6 { background-position:    -206.22px 7.56px; }

.img-7 { background-position:    -248.22px 7.56px; }

.img-8 { background-position:    -290.22px 7.56px; }

.img-9 { background-position:    -332.22px 7.56px; }

.img-10 { background-position:    -374.22px 7.56px; }

.img-11 { background-position:    -416.22px 7.56px; }



.img-12 { background-position:    -457.8px 7.56px; }



/*#chess-board {*/
  /*border: 5px solid #eee;*/
/*}*/

/*#chess-board td {*/
  /*height: 65px;*/
  /*width: 65px;*/
  /*border: 5px solid #eee;*/
/*}*/

/*#float-chess {*/
  /*height: 65px;*/
  /*width: 65px;*/
  /*border: 5px solid #eee;*/

#demo-text {
  line-height: 2em;
  height: 3em;
  padding: 0.5em;
  margin-top: 0.5em;
  width: 453px;
}

.c3-region.rankcolor-0 { fill: rgb(200, 200, 200); }
.c3-region.rankcolor-1 { fill: rgb(159, 238, 159); }
.c3-region.rankcolor-2 { fill: rgb(119, 255, 119); }
.c3-region.rankcolor-3 { fill: rgb(169, 169, 254); }
.c3-region.rankcolor-4 { fill: rgb(253, 135, 253); }
.c3-region.rankcolor-5 { fill: rgb(244, 195, 130); }
.c3-region.rankcolor-6 { fill: rgb(255, 187, 85 ); }
.c3-region.rankcolor-7 { fill: rgb(255, 119, 119); }
.c3-region.rankcolor-8 { fill: rgb(253, 51 , 51 ); }

.c3-region.rankcolor-0 rect,
.c3-region.rankcolor-1 rect,
.c3-region.rankcolor-2 rect,
.c3-region.rankcolor-3 rect,
.c3-region.rankcolor-4 rect,
.c3-region.rankcolor-5 rect,
.c3-region.rankcolor-6 rect,
.c3-region.rankcolor-7 rect,
.c3-region.rankcolor-8 rect { fill-opacity: 1 !important; }
